@{
    ViewData["Title"] = "Schedule";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Universitatea Craiova</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="~/images/logo.ico">
    <link rel="stylesheet" href="~/css/default.css">
    <link rel="stylesheet" href="~/css/schedule.css">

</head>

<body>

    <section class="schedule">
        <div class="nextMatches">
            <h1> Urmatoarele meciuri</h1>
            <h2>
                <img src="~/images/dinamo.png" alt="dinamo" width="50" height="50">
                FC Dinamo Bucuresti - Universitatea Craiova
                <img src="~/images/craiova.png" alt="craiova" width="50" height="50">
            </h2>
            <p>Stadion: Arcul de Triumf</p>
            <p>Data: Sâm, 19 Apr 2025</p>
            <p>Ora: 20:30</p>
            <h2>
                <img src="~/images/craiova.png" alt="craiova" width="50" height="50">
                Universitatea Craiova - FCSB
                <img src="~/images/fcsb.png" alt="fcsb" width="50" height="50">
            </h2>
            <p>Stadion: Ion Oblemenco</p>
            <p>Data: Sâm, 12 Apr 2025</p>
            <p>Ora: 20:30</p>
            <h2>
                <img src="~/images/cfr.png" alt="cfr" width="50" height="50">
                CFR Cluj - Universitatea Craiova
                <img src="~/images/craiova.png" alt="craiova" width="50" height="50">
            </h2>
            <p>Stadion: Dr. Constantin Rădulescu</p>
            <p>Data: Sâm, 5 Apr 2025</p>
            <p>Ora: 20:30</p>
        </div>

        <div class="pastMatches">
            <h1> Meciuri jucate</h1>
            <h2>
                <img src="~/images/craiova.png" alt="craiova" width="50" height="50">
                Universitatea Craiova - FC Rapid Bucuresti
                <img src="~/images/rapid.png" alt="rapid" width="50" height="50">
            </h2>
            <p>Data: Sâm, 31 Aug 2024</p>
            <p>Rezultat: 1-1</p>
            <h2>
                <img src="~/images/craiova.png" alt="craiova" width="50" height="50">
                Universitatea Craiova - FC Poli Iasi
                <img src="~/images/poli.png" alt="poli" width="50" height="50">
            </h2>
            <p>Data: Dum, 02 Feb 2025</p>
            <p>Rezultat: 4-1</p>
        </div>
    </section>

    <script src="../js/footer.js"></script>

</body>
</html>