@{
    ViewData["Title"] = "History";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Universitatea Craiova</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="~/images/logo.ico">
    <link rel="stylesheet" href="~/css/default.css">
    <link rel="stylesheet" href="~/css/history.css">

</head>

<body>

    <section class="history">
        <h1>Istoric</h1>
        <p>Imediat după apariția la Craiova a primei instituții universitare de &icirc;nvățăm&acirc;nt &ndash; Institutul de Mașini și Aparate Electrice &ndash; un grup de profesori și studenți &icirc;nființează &icirc;n 1948 C.S.U. Craiova, un club sportiv cu secții de atletism, volei, handbal, tenis de masă, șah și fotbal.</p>
        <p>
            Sub coordonarea Ministerului &Icirc;nvățăm&acirc;ntului Public și al Uniunii Naționale a Studenților din Rom&acirc;nia se formează astfel echipa de fotbal U.N.S.R. Craiova, care este &icirc;nscrisă &icirc;n campionatul județean.<br />
            Primul meci oficial se dispută la Filiași, pe 5 septembrie 1948, studenții fiind &icirc;nvinși cu 6-3. Tricoul alb-albastru a fost &icirc;mbrăcat pentru prima dată de Dumitrescu &ndash; Rădulescu, Mihăilă I, Carli &ndash; Ozon, Mihăilă II &ndash; Sabin, Ilie, Bădescu, Tudor, Serghi, aflați sub comanda antrenorului N. Polojinski.
        </p>
        <p>Echipa de fotbal &icirc;și schimbă denumirea &icirc;n C.S.U. Craiova &icirc;n 1950, și apoi &icirc;n Știința Craiova (1953) și Universitatea Craiova (1966).</p>
        <p>&Icirc;n 1951, C.S.U. Craiova &icirc;nvinge cu 6-0 echipa locală Constructorul, &icirc;n primul joc oficial &icirc;n Cupa Rom&acirc;niei.</p>
        <p>&Icirc;n 1954, la turneul de baraj pentru categoria B de la Arad, Știința Craiova, antrenată de Nicolae Oțeleanu, se califică &icirc;n Divizia B, dar retrogradează &icirc;n sezonul următor. &Icirc;n anii 1956 &ndash; 1958 activează &icirc;n categoria C.</p>
        <p>La 6 iulie 1958, Știința Craiova, antrenată de Ionescu Crum, reintră &icirc;n divizia B, după un joc cu Unirea R&acirc;mnicu V&acirc;lcea. &Icirc;n B va evolua p&acirc;nă &icirc;n 1964.</p>
        <p>&Icirc;n sezonul 1963/1964, sub conducerea lui Nicolae Oțeleanu, echipa promovează &icirc;n A. Acest act istoric a fost semnat de Papuc, Dumitrescu, Vasilescu, Geleriu, Lungan, Deliu, Bărbulescu, Tetea, Ganga, Anton, Lovin, Onea, Vișan, Stanciu, C.Stănescu, A.Stănescu.</p>
        <p>
            &Icirc;n ediția 1973/1974, Universitatea c&acirc;știgă pentru prima dată titlul de campioană a Rom&acirc;niei. Eroii din teren au fost Oprea, Manta, Niculescu, Bădin, Deselnicu, Velea, Str&acirc;mbeanu, Ivan, Niță, Balaci, Berneanu, Țarălungă, Oblemenco, Bălan, Pană, Boc, Ștefănescu, Marcu, Stăncescu, Kiss, Chivu, Negrilă, Constantinescu, antrenați de Constantin Cernăianu și Constantin Oțet.<br />
            Universitatea este prima echipă studențească din țară și din Europa ajunsă campioană națională.
        </p>
        <p>Prima Cupă a Rom&acirc;niei vine &icirc;n Bănie &icirc;n stagiunea 1976/1977, c&acirc;nd Universitatea &icirc;nvinge &icirc;n finală Steaua, cu 2-1. Craiovenii au folosit formația: Boldici, Berneanu, Tilihoi, Ștefănescu, Purima, Donose, Balaci, Beldeanu, Crișan (Negrilă), C&icirc;rțu, Marcu (Cămătaru). &Icirc;n sezonul următor, 1977/1978, echipa Craiovei recidivează &icirc;n Cupă. De această dată victorie cu 3-1 &icirc;n fața echipei Olimpia Satu Mare, semnată de Boldici (Lung) &ndash; Ungureanu, Tilihoi, Ștefănescu, Purima &ndash; Donose, Balaci (Țicleanu), Beldeanu &ndash; C&icirc;rțu, Cămătaru, Marcu, jucători pregătiți de Ilie Oană și C. Deliu.</p>
        <p>&Icirc;n ediția 1979/1980, Universitatea Craiova se &icirc;ncoronează iarăși campioană a Rom&acirc;niei. Lotul folosit: Boldici, Lung, Negrilă, Tilihoi, Ștefănescu, Bumbescu, Ungureanu, Țicleanu, Balaci, Beldeanu, Crișan, Donose, Cămătaru, Geolgău, C&icirc;rțu, Irimescu, Purima&nbsp;&ndash; antrenori V. Stănescu și I. Oblemenco.</p>
        <p>&Icirc;n 1981, Universitatea realizează primul event. Cupa și campionatul ajung &icirc;n Bănie! Mai mult, se califică &icirc;n turul trei al Cupei Campionilor Europeni, performanță fără precedent &icirc;n istoria fotbalului rom&acirc;nesc.</p>
        <p>
            &Icirc;n 1982, are loc prima calificare a unei echipe rom&acirc;nești &icirc;n sferturile Cupei Campionilor Europeni, iar un an mai t&acirc;rziu, Știința depășește noi limite, devenind prima echipă din Rom&acirc;nia calificată &icirc;ntr-o semifinală de cupă europeană, &icirc;n speță Cupa UEFA.<br />
            Era vremea &icirc;n care naționala Rom&acirc;niei se construia pe scheletul Universității, c&acirc;nd Maximii nu aveau rival &icirc;n țară.
        </p>
        <p>&Icirc;n 1991, CS Universitatea Craiova atinge din nou marile culmi pe plan intern, c&acirc;nd se realizează iar eventul. Prunea, Mănăilă, Săndoi, Adrian Popescu, Mogoșanu, Ciurea, Olaru, Cristescu, Zamfir, Badea, Pigulea, Bica,&nbsp;Agalliu, Craioveanu, Neagoe, Cojocaru, Șt. Stoica, Prună, Ceaușilă, Cl. Stoica, G&acirc;rleșteanu, Dudan, Boldici, Crișan, Mitriță, Carabas, St&acirc;ngă,&nbsp;au fost ultimii jucători care au sărutat trofeul de campioni &icirc;n tricoul Științei. Alături de antrenorii Sorin C&acirc;rțu și Fane Cioacă.</p>
        <p>Rezultatele fantastice ale CS Universitatea Craiova se leagă de numele unor mari antrenori: Nicolae Oțeleanu, Constantin Cernăianu, Constantin Oțet, Ion Oblemenco, Constantin Deliu, Nicolae Zamfir, Sorin C&acirc;rtu, Marian Bondrea. La aceștia &icirc;i putem adauga, deopotriva si pe Robert Cosmoc, Ștefan Coidum, Constantin Teașcă, Valentin Stănescu, Jos&eacute; Ram&oacute;n Alexanko, Octavian Romeo, Ion Sima, Haralambie Eftimie, Clement Iordănescu, Ion G&acirc;rleșteanu, Anghel Mităchescu, Dandu Ustabacieff, frații Georgescu, Florin Oprea, Fane Cioaca.</p>
        <p>De-a lungul anilor, Universitatea a fost sprijinită și condusă de personalități importante ale orașului Craiova, &icirc;ntre care amintim: prof. univ. dr. Alexandru Buia, rectorul Institutului Agronomic din Craiova, fizicianul Ion Lungu, prof.univ.dr.doc. Titus Georgescu, rector al Universității Craiova, prof.univ.dr. Constantin Botea, prof.univ.dr. George Vraciu, prof. univ. dr. Sergiu Cătăneanu prof.univ.dr. Tiberiu Nicola &ndash; rectorul Universității Craiova, prof.univ.dr. Corneliu Andrei Stroe.</p>
    </section>

    <script src="../js/footer.js"></script>

</body>
</html>