@{
    ViewData["Title"] = "Home Page";
}

<html lang="en">
<head>
    <title>Universitatea Craiova</title>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="~/images/logo.ico">
    <link rel="stylesheet" href="~/css/default.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true">

</head>

<body class="homeBody">


    <section class="homepageSection">
        <div class="homepageLeft">
            <h1>Cumpara-ti abonament la stadion</h1>
            <p>Traieste meciurile intens si sustine-ti favoritii</p>
            <a asp-controller="Subscription" asp-action="Subscription" class="redirectButton">Spre abonamente!</a>
        </div>
        <div class="homepageRight">
            <div class="nextMatch">
                <h1>Meciul urmator</h1>
                <p>Universitatea Craiova - 'U' Cluj</p>
                <p>Stadion: Ion Oblemenco</p>
                <p>Data: 14 Mar 2025</p>
                <p>Ora: 20:00</p>
            </div>
            <div class="table">
                <h1>Clasament</h1>
                <p>Sezon 2024-2025</p>
                <table>
                    <tr>
                        <th>Loc</th>
                        <th>Echipa</th>
                        <th>MJ</th>
                        <th>Pct</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>FCSB</td>
                        <td>30</td>
                        <td>56</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>CFR Cluj</td>
                        <td>30</td>
                        <td>54</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Universitatea Craiova</td>
                        <td>30</td>
                        <td>52</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>'U' Cluj</td>
                        <td>30</td>
                        <td>52</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Dinamo Bucuresti</td>
                        <td>30</td>
                        <td>51</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Rapid Bucuresti</td>
                        <td>30</td>
                        <td>46</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Sepsi Sf. Gheorghe</td>
                        <td>30</td>
                        <td>41</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>FC Hermannstadt</td>
                        <td>30</td>
                        <td>41</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Petrolul Ploiesti</td>
                        <td>30</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Farul Constanta</td>
                        <td>30</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>UTA Arad</td>
                        <td>30</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Otelul Galati</td>
                        <td>30</td>
                        <td>32</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Poli Iasi</td>
                        <td>30</td>
                        <td>31</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>FC Botosani</td>
                        <td>30</td>
                        <td>31</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Unirea Slobozia</td>
                        <td>30</td>
                        <td>26</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Gloria Buzau</td>
                        <td>30</td>
                        <td>20</td>
                    </tr>

                </table>
            </div>
    </section>
    </section>

    <script src="../js/footer.js"></script>

</body>
</html>