@model mvc.Models.Subscription

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/usersCRUD.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/default.css" asp-append-version="true" />

<h1 class="centerDiv">Create</h1>

<div class="centerDiv">
    <form asp-action="Create">
        <div>
            <label asp-for="type" class="control-label"></label>
            <input asp-for="type" class="form-control" />
            <span asp-validation-for="type" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="expireDate" class="control-label"></label>
            <input asp-for="expireDate" class="form-control" type="datetime-local"/>
            <span asp-validation-for="expireDate" class="text-danger"></span>
        </div>

        <div class="centerDiv">
            <input type="submit" value="Create" class="btn" />
        </div>
    </form>
</div>

<div class="centerDiv">
    <a asp-action="Index" class="btn">Back to List</a>
</div>

