.history {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 30px;
}

.history h1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-style: italic, bold;
}

.history p {
    margin-top: 1px;
}