.schedule {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Align items to the top */
    flex-direction: column; /* Display items in a row */
    list-style-type: none;
    padding: 0;
    margin: 0px 0px; /* Add some margin for spacing */
    margin-bottom: 60px; /* Add some margin at the bottom */
}

.schedule ul {
    list-style-type: none;
}

.schedule h1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-style: italic, bold;
    background-color: #3354a7;
    text-align: center;
}

.schedule img {
    flex-direction: row;
}

.pastMatches, .nextMatches {
    width: 500px; /* Set your desired fixed width */
    margin: 0 auto 30px auto; /* Center and add spacing below */
    box-sizing: border-box;
}
