@model mvc.Models.Users

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/usersCRUD.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/default.css" asp-append-version="true" />

<h1 class="centerDiv">Edit</h1>

<div class="centerDiv">
    <form asp-action="Settings" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div>
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label for="currentPassword">Current Password</label>
            <input id="currentPassword" name="currentPassword" class="form-control" type="password" />
        </div>
        <div>
            <label for="newPassword" class="control-label">New Password</label>
            <input type="password" name="newPassword" class="form-control" />
        </div>
        <div>
            <label for="confirmPassword" class="control-label">Confirm New Password</label>
            <input type="password" name="confirmPassword" class="form-control" />
        </div>
            <input type="hidden" asp-for="accountType" />
            <input type="hidden" asp-for="subscriptionId" />
        <div>
            <label for="photoPathFile" class="control-label">Upload Document</label>
            <input type="file" name="photoPathFile" id="photoPathFile" class="form-control" />
            <span class="text-danger">@ViewData["FileUploadError"]</span>
        </div>
        <div class="centerDiv">
            <input type="submit" value="Save" class="btn" />
        </div>
    </form>
</div>

<div class="centerDiv">
    <a asp-action="User" class="btn" style="margin-bottom:60px;">Back</a>
</div>
