@{
    ViewData["Title"] = "NewsArticle1";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Universitatea Craiova</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="~/images/logo.ico">
    <link rel="stylesheet" href="~/css/default.css">
    <link rel="stylesheet" href="~/css/newsArticle.css">

</head>

<body>

    <section class="newsArticle">
        <h1>Un gol face diferența între FCSB și Universitatea Craiova</h1>
        <p>Lun, 10 Mar 2025</p>
        <img src="~/images/stire1.jpeg" alt="news" width="960" height="720">
        <p>Golul lui Adrian Șut (min.29) a făcut diferența în întâlnirea dintre FCSB și Universitatea Craiova. Jucătorul gazdelor a punctat cu o execuție de la 20 de metri. Meciul s-a încheiat cu victoria FCSB-ului. iar Știința este la prima înfrângere de la revenirea lui Mirel Rădoi pe banca tehnică. Universitatea încheie sezonul regulat pe locul 3, iar în prima etapă din play-off va întâlni Universitatea Cluj pe teren prorpiu.</p>
        <p>FCSB: Târnovanu – Crețu, M.Popescu, Ngezana, Kiki – Șut, Chiricheș (71, Alhassan) – Cisotti, Tănase (86, Edjouma), Gheorghiță (77, Toma) – Băluță (46, Miculescu). Antrenor: Elias Charalambous.</p>
        <p>Universitatea Craiova: Popescu – Mora, Maldonado, Badelj, Bancu – Oshima (68, Anzor), Screciu (80, Lukic), Houri (68, Bană) – Baiaram, Safira, Mitriță. Antrenor: Mirel Rădoi.</p>
    </section>

    <script src="../js/footer.js"></script>

</body>
</html>